/* @theme pururiku-talk */

/* --- プルリクの吹き出し要素 --- */

/* --- PURU --- */
/* 吹き出し全体のスタイル */
.puru-bubble {
  display: flex;
  align-items: flex-end;
  max-width: 960px;
  margin: 10px auto;
  position: relative;
}

/* キャラクター部分のスタイル */
.puru-bubble::after {
  content: '';
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-left: 20px;
  flex-shrink: 0;
  /* 画像を背景として指定する場合 */
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_smile.png?raw=true');
  background-size: cover;
  background-position: center;
  /* プレースホルダーテキスト */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 吹き出し部分のスタイル */
.puru-bubble p {
  position: relative;
  background-color: var(--color-tt-warning-10);
  border-radius: 40px;
  padding: 20px;
  max-width: 960px;
  margin: 0 0 30px 0;
  font-size: 1em;
  line-height: 1.6;
  right: 20px;
}

/* 吹き出しの三角形部分 */
.puru-bubble p::after {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 25px solid var(--color-tt-warning-10);
  border-bottom: 10px solid transparent;
}

/* 吹き出しの種類 */
.puru-bubble.sad::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_sad.png?raw=true');
}

.puru-bubble.smile::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_smile.png?raw=true');
}

.puru-bubble.happy::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_happy.png?raw=true');
}

.puru-bubble.think::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_think.png?raw=true');
}

.puru-bubble.lovely::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_lovely.png?raw=true');
}

.puru-bubble.angry::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_angry.png?raw=true');
}

.puru-bubble.calm::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_calm.png?raw=true');
}

.puru-bubble.circle::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_circle.png?raw=true');
}

.puru-bubble.gao::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_gao-.png?raw=true');
}

.puru-bubble.hooray::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_hooray.png?raw=true');
}

.puru-bubble.lookat::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_lookat.png?raw=true');
}

.puru-bubble.peek::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_peek.png?raw=true');
}

.puru-bubble.salute::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_salute.png?raw=true');
}

.puru-bubble.smug::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_smug face.png?raw=true');
}

.puru-bubble.stand::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_stand.png?raw=true');
}

.puru-bubble.surprised::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_surprised.png?raw=true');
}

.puru-bubble.wink::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_wink.png?raw=true');
}

.puru-bubble.one::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_1.png?raw=true');
}

.puru-bubble.two::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_2.png?raw=true');
}

.puru-bubble.three::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_3.png?raw=true');
}

.puru-bubble.four::after {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/puru_4.png?raw=true');
}

/* --- RIKU --- */
/* 吹き出し全体スタイル */
.riku-bubble {
  display: flex;
  align-items: flex-end;
  max-width: 960px;
  margin: 10px auto;
  position: relative;
}

/* キャラクター部分のスタイル */
.riku-bubble::before {
  content: '';
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-left: 20px;
  flex-shrink: 0;

  /* 画像を背景として指定する場合 */
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_smile.png?raw=true');
  background-size: cover;
  background-position: center;

  /* プレースホルダーテキスト */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 吹き出し部分のスタイル */
.riku-bubble p {
  position: relative;
  background-color: var(--color-tt-focus-10);
  border-radius: 40px;
  padding: 20px;
  max-width: 960px;
  margin: 0 0 30px 0;
  font-size: 1em;
  line-height: 1.6;
  top: 20px;
  left: 20px;
}

/* 吹き出しの三角形部分 */
.riku-bubble p::before {
  content: '';
  position: absolute;
  left: -20px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 25px solid var(--color-tt-focus-10);
  border-bottom: 10px solid transparent;
}

/* 吹き出しの種類 */
.riku-bubble.sad::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_sad.png?raw=true');
}

.riku-bubble.salute::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_salute.png?raw=true');
}

.riku-bubble.smile::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_smile.png?raw=true');
}

.riku-bubble.happy::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_happy.png?raw=true');
}

.riku-bubble.angry::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_angry.png?raw=true');
}

.riku-bubble.ask::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_ask.png?raw=true');
}

.riku-bubble.calm::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_calm.png?raw=true');
}

.riku-bubble.circle::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_circle.png?raw=true');
}

.riku-bubble.hooray::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_hooray.png?raw=true');
}

.riku-bubble.impressed::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_Impressed.png?raw=true');
}

.riku-bubble.lookat::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_lookat.png?raw=true');
}

.riku-bubble.peek::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_peek.png?raw=true');
}

.riku-bubble.smug::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_smug face.png?raw=true');
}

.riku-bubble.stand::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_stand.png?raw=true');
}

.riku-bubble.surprised::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_surprised.png?raw=true');
}

.riku-bubble.wink::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_wink.png?raw=true');
}

.riku-bubble.wonder::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_wonder.png?raw=true');
}

.riku-bubble.one::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_1.png?raw=true');
}

.riku-bubble.two::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_2.png?raw=true');
}

.riku-bubble.three::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_3.png?raw=true');
}

.riku-bubble.four::before {
  background-image: url('https://github.com/sugitlab/slide-deck/blob/main/slides/theme/puru-riku/riku_4.png?raw=true');
}
